In [29]:
import numpy as np
from nba_api.stats.endpoints import leaguegamelog
import time
def get_all_games(start_year=1946, end_year=2023):
  results = []
  for year in range(start_year, end_year):
    season = '{}-{}'.format(year, str(year + 1)[-2:])
    res = leaguegamelog.LeagueGameLog(counter=10000, season=season)
    res_frame = res.get_data_frames()[0]
    results.append(res_frame)
    time.sleep(1)
  return results
    
seasons = get_all_games(2022, 2024)

In [30]:
# games retrieved include the stats for both teams as separate rows, so put them in 'home' or 'away' respectively
def map_home_and_away(seasons):
  results_all_season = []
  for season in seasons:
    results_for_season = []
    results_for_season.append(season[season.duplicated(subset='GAME_ID', keep='first')])
    results_for_season.append(season[season.duplicated(subset='GAME_ID', keep='last')])

    results_all_season.append(results_for_season)
    
  return results_all_season

# seasons_home_and_away = map_home_and_away(results)

In [31]:
# TODO: string still present in fields SEASON_ID, GAME_ID, GAME_DATE, WL
# SEASON_ID = drop
# GAME_ID = drop
# GAME_DATE = figure this out
# WL = [0, 1]

# map seasonid to 0..len(season)
def preprocess(seasons):
  
  # drop unnecessary columns
  for season in seasons:
    season.drop(columns=['TEAM_ABBREVIATION', 'TEAM_NAME',\
                         'MATCHUP', 'VIDEO_AVAILABLE'], inplace=True)

  # convert WL to 0 and 1
  WL = {'L': 0., 'W': 1.}
  for season in seasons:
    season['WL'] = season['WL'].map(WL.get)

  # add home and away dimension
  seasons = map_home_and_away(seasons)

  # map season_id to index
  season_index = []
  for season in seasons:
  
  
  # do whatever else with pandas before they are turned into numpy
  # ...
  
  # seasons_np = np.array((len(seasons), 2, 10000, 24), dtype=np.float32)
  for i, (home, away) in enumerate(seasons):
    game_id_mapping.append(home['GAME_ID'])
    season_id_mapping.append(home['SEASON_ID'])
    team_id_mapping.append(home['TEAM_ID'])
    home.drop(columns=['GAME_ID', 'SEASON_ID', 'TEAM_ID'], inplace=True)
    away.drop(columns=['GAME_ID', 'SEASON_ID', 'TEAM_ID'], inplace=True)
    home.to_numpy(dtype=np.float32)
    away.to_numpy(dtype=np.float32)
    
  seasons_np = np.array(seasons, dtype=np.float32)
  
  return seasons_np

seasons_np = preprocess(seasons)

         TEAM_ID     GAME_ID   GAME_DATE WL  MIN  FGM  FGA  FG_PCT  FG3M  \
0     1610612747  0022200002  2022-10-18  L  240   40   94   0.426    10
1     1610612744  0022200002  2022-10-18  W  240   45   99   0.455    16
2     1610612755  0022200001  2022-10-18  L  240   40   80   0.500    13
3     1610612738  0022200001  2022-10-18  W  240   46   82   0.561    12
4     1610612753  0022200003  2022-10-19  L  240   42   86   0.488    11
...          ...         ...         ... ..  ...  ...  ...     ...   ...
2455  1610612751  0022201217  2023-04-09  L  240   35   83   0.422    12
2456  1610612762  0022201228  2023-04-09  L  240   51  101   0.505    10
2457  1610612737  0022201216  2023-04-09  L  240   44   97   0.454    11
2458  1610612738  0022201216  2023-04-09  W  240   42   89   0.472    25
2459  1610612766  0022201218  2023-04-09  W  240   37   81   0.457     6

      FG3A  ...  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0       40  ...     9    39   48   23   12    4   22  18  109         -14
1       45  ...    11    37   48   31   11    4   18  23  123          14
2       34  ...     4    27   31   16    8    3   14  25  117          -9
3       35  ...     6    30   36   24    8    3   11  24  126           9
4       30  ...    10    38   48   21    5    5   18  24  109          -4
...    ...  ...   ...   ...  ...  ...  ...  ...  ...  ..  ...         ...
2455    32  ...    10    32   42   22    6    6   19  22  105         -29
2456    35  ...     7    38   45   31    4    4   11  16  117         -11
2457    39  ...    16    34   50   27   11    5    9  12  114          -6
2458    54  ...    12    35   47   33    5    3   15  13  120           6
2459    32  ...    10    39   49   23    8    5   19  14  106          11

[2460 rows x 24 columns]
         TEAM_ID     GAME_ID   GAME_DATE WL  MIN  FGM  FGA  FG_PCT  FG3M  \
0     1610612747  0022300061  2023-10-24  L  240   41   90   0.456    10
1     1610612743  0022300061  2023-10-24  W  240   48   91   0.527    14
2     1610612756  0022300062  2023-10-24  W  240   42   95   0.442    11
3     1610612744  0022300062  2023-10-24  L  240   36  101   0.356    10
4     1610612739  0022300067  2023-10-25  W  240   44   94   0.468    17
...          ...         ...         ... ..  ...  ...  ...     ...   ...
2455  1610612763  0022301193  2024-04-14  L  240   45  100   0.450     8
2456  1610612743  0022301193  2024-04-14  W  240   46   89   0.517    12
2457  1610612765  0022301197  2024-04-14  L  240   36   92   0.391     8
2458  1610612759  0022301197  2024-04-14  W  240   49   91   0.538    15
2459  1610612761  0022301189  2024-04-14  L  240   38   90   0.422     9

      FG3A  ...  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0       29  ...    13    31   44   23    5    4   12  18  107         -12
1       34  ...     9    33   42   29    9    6   12  15  119          12
2       33  ...    17    43   60   23    5    7   19  22  108           4
3       43  ...    18    31   49   19   11    6   11  23  104          -4
4       43  ...     9    29   38   25   10    6   10  23  114           1
...    ...  ...   ...   ...  ...  ...  ...  ...  ...  ..  ...         ...
2455    33  ...    16    27   43   22    9    2   13  18  111         -15
2456    36  ...    16    38   54   32    9    5   18  17  126          15
2457    33  ...    11    29   40   17    7    3   14   9   95         -28
2458    34  ...    12    42   54   33    9    3   14  17  123          28
2459    34  ...    13    28   41   23    6    3   19  21  103         -15

[2460 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_ID     2460 non-null   int64
 1   GAME_ID     2460 non-null   object
 2   GAME_DATE   2460 non-null   object
 3   WL          2460 non-null   float64
 4   MIN         2460 non-null   int64
 5   FGM         2460 non-null   int64
 6   FGA         2460 non-null   int64
 7   FG_PCT      2460 non-null   float64
 8   FG3M        2460 non-null   int64
 9   FG3A        2460 non-null   int64
 10  FG3_PCT     2460 non-null   float64
 11  FTM         2460 non-null   int64
 12  FTA         2460 non-null   int64
 13  FT_PCT      2460 non-null   float64
 14  OREB        2460 non-null   int64
 15  DREB        2460 non-null   int64
 16  REB         2460 non-null   int64
 17  AST         2460 non-null   int64
 18  STL         2460 non-null   int64
 19  BLK         2460 non-null   int64
 20  TOV         2460 non-null   int64
 21  PF          2460 non-null   int64
 22  PTS         2460 non-null   int64
 23  PLUS_MINUS  2460 non-null   int64
dtypes: float64(4), int64(18), object(2)
memory usage: 461.4+ KB
None
0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
2455    0.0
2456    1.0
2457    0.0
2458    1.0
2459    0.0
Name: WL, Length: 2460, dtype: float64

/tmp/ipykernel_48290/909118183.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home.drop(columns='GAME_ID', inplace=True)
/tmp/ipykernel_48290/909118183.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away.drop(columns='GAME_ID', inplace=True)
/tmp/ipykernel_48290/909118183.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home.drop(columns='GAME_ID', inplace=True)
/tmp/ipykernel_48290/909118183.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away.drop(columns='GAME_ID', inplace=True)

ValueError: could not convert string to float: '2022-10-18'

In [7]:
WL = {'L': 0., 'W': 1.}
# arr = ['L', 'W', 'B']
# .map(WL::get)
r = ['L', 'W']
r.max(WL:get)
# WL::get

SyntaxError: invalid syntax (2746070439.py, line 5)

In [60]:
seasons[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_ID          2460 non-null   object
 1   TEAM_ID            2460 non-null   int64
 2   TEAM_ABBREVIATION  2460 non-null   object
 3   TEAM_NAME          2460 non-null   object
 4   GAME_ID            2460 non-null   object
 5   GAME_DATE          2460 non-null   object
 6   MATCHUP            2460 non-null   object
 7   WL                 2460 non-null   object
 8   MIN                2460 non-null   int64
 9   FGM                2460 non-null   int64
 10  FGA                2460 non-null   int64
 11  FG_PCT             2460 non-null   float64
 12  FG3M               2460 non-null   int64
 13  FG3A               2460 non-null   int64
 14  FG3_PCT            2460 non-null   float64
 15  FTM                2460 non-null   int64
 16  FTA                2460 non-null   int64
 17  FT_PCT             2460 non-null   float64
 18  OREB               2460 non-null   int64
 19  DREB               2460 non-null   int64
 20  REB                2460 non-null   int64
 21  AST                2460 non-null   int64
 22  STL                2460 non-null   int64
 23  BLK                2460 non-null   int64
 24  TOV                2460 non-null   int64
 25  PF                 2460 non-null   int64
 26  PTS                2460 non-null   int64
 27  PLUS_MINUS         2460 non-null   int64
 28  VIDEO_AVAILABLE    2460 non-null   int64
dtypes: float64(3), int64(19), object(7)
memory usage: 557.5+ KB